.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../fotos/campus/1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-repeat: no-repeat;
  transition: 5s;

  animation-name: bgfade;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes bgfade {
  0% {
    background-image: url(../fotos/campus/2.jpg);
  }

  15% {
    background-image: url(../fotos/campus/3.jpg);
  }

  30% {
    background-image: url(../fotos/campus/4.jpg);
  }

  45% {
    background-image: url(../fotos/campus/5.jpg);
  }

  60% {
    background-image: url(../fotos/campus/6.jpg);
  }

  75% {
    background-image: url(../fotos/campus/7.jpg);
  }

  90% {
    background-image: url(../fotos/campus/8.jpg);
  }

  100% {
    background-image: url(../fotos/campus/9.jpg);
  }
}

.title-achter {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  color: rgb(255, 255, 255);
  z-index: 0;
  pointer-events: none;
}


.grid-layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* links - midden - rechts */
  gap: 40px;
  padding: 40px;
  align-items: start;
}


.left-col,
.right-col {
  display: grid;
  gap: 20px;
}

.left-col {
  justify-items: start; /* alles links uitlijnen */
}

.right-col {
  justify-items: end; /* alles rechts uitlijnen */
}

/* Grote containers */
.container-i,
.container-j {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 300px;
  position: relative;
}

#expandedImg-i,
#expandedImg-j {
  width: 300px;
  display: block;
  border-radius: 10px;
}

#imgtext-i,
#imgtext-j {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 90px;
}

#imgtext-i {
  left: 150px;
}

#imgtext-j {
  right: 150px;
}
.players-i,
.players-j {
  display: grid;
  grid-template-columns: repeat(5, 80px); /* altijd 5 kolommen */
  gap: 10px;
  justify-content: center; /* midden in de kolom */
}

/* Kleine foto’s */
.player {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-color: rgb(255, 255, 255);
}

.img-container {
  position: relative;
  width: 80px;
  height: 80px;
}

.img-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  cursor: pointer;
}

.img-container:hover img {
  opacity: 1;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s ease;
  pointer-events: none;
  /* overlay blokkeert klikken niet meer dus onclick functie doet het dan nog */
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* links - midden - rechts */
  align-items: center;
  justify-items: center;
  height: 500px;
  gap: 20px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin: 40px 0;
}

.text h2 {
  margin: 0;
  font-size: 2rem;
}

.text span {
  font-size: 4rem;
  font-weight: bold;
}

/* Als het scherm in portrait (staand) is dan stapelt alles onder elkaar */
@media (orientation: portrait) {
  .grid-layout {
    grid-template-columns: 1fr; /* alles in 1 kolom */
    grid-template-rows: auto auto auto; /* links - tekst - rechts */
    justify-items: center;
    gap: 20px;
  }

  .left-col,
  .right-col {
    justify-items: center; /* foto's in het midden */
  }

  .text {
    grid-template-columns: auto; /* tekst ook onder elkaar VERANDERENNNNNNNNNNNNN ANDERE DISPLAY MAKEN*/
    height: auto;
  }
}